body, html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #282828;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One';
    color: #39ca74;
}

span{
    color: #ffffff;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: rgb(18, 172, 18);
    transition: 0.5s;
}


html { 
    background: url("2599087.png") no-repeat center center fixed;
    background-size: cover;
}