html{
    scroll-behavior: smooth;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(212, 117, 1);
}

ul{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

li{
    font-size: 1.1em;
}

a:hover{
    font-weight: bold;
}

a:visited{
    color: rgb(44, 30, 163);
}

a:link{
    color: black;
    text-decoration: none;
}