h1{
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.bucket{
    text-align-last: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 792px;
}

ol{
    text-align: justify;
    list-style-position: inside;
    margin: 0 0 1.5em;
    padding: 0;
    text-decoration: underline;
}
  
  ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    list-style-type: none;
    counter-increment: item;
  }
  
  ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
  }

.p blockquote{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

a:hover{
    font-weight: bold;
}

a:visited{
    color: rgb(44, 30, 163);
}