body {
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}

.heading{
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading h1{
    font-size: 45px;
    text-shadow: 1px 1px 5px #2b2b2b;
}

.heading p{
    text-shadow: 1px 1px 8px #2b2b2b;
}

.tours{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

img:hover{
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
}

a:hover{
    font-weight: bold;
}

a:visited{
    color: rgb(255, 255, 255);
}

a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}